<img
	class="wave"
	src="../../assets/images/wave-2-top-sm.svg"
	alt="wave-2-top"
/>

<div class="content">
	<h1>Usable y rápida</h1>
	<p>Ofrecemos una interfaz intuitiva y simple</p>
</div>

<div class="app">
	<img src="../../assets/images/app-01.png" alt="app-01" />
	<img src="../../assets/images/app-02.png" alt="app-02" />
	<img src="../../assets/images/app-04.png" alt="app-04" />
	<img src="../../assets/images/app-03.png" alt="app-03" />
	<img src="../../assets/images/app-05.png" alt="app-05" />
</div>

<img
	class="wave"
	src="../../assets/images/wave-2-bottom.svg"
	alt="wave-2-bottom"
/>
