:host {
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 400px;
}

.content {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;

	margin: 8px;

	margin-left: 32px;

	h1 {
		margin-bottom: 8px;
		font-size: 48px;
	}

	p {
		color: #707070;
		font-size: 28px;
	}
}

.background {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;

	padding: 32px;

	img {
		max-width: 100%;
	}
}

.founders {
	grid-column: 2 / span 1;
	grid-row: 2 / span 2;

	display: flex;
	flex-flow: column nowrap;

	.founder {
		margin-bottom: 48px;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.image {
			width: 100px;
			height: 100px;
			background-color: #dddddd;

			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;

			overflow: hidden;

			border-radius: 50%;

			img {
				max-height: 100px;
			}
		}

		.info {
			margin-left: 16px;
			h1 {
				font-weight: normal;
				font-size: 24px;
			}
		}
	}
}

@media (max-width: 600px) {
	:host {
		grid-template-columns: 1fr;
	}

	.content {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;

		margin-left: 16px;

		h1 {
			font-size: 28px;
		}

		p {
			font-size: 16px;
		}
	}

	.founders {
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;

		margin-top: 16px;

		flex-flow: row wrap;
		justify-content: space-around;

		.founder {
			margin-bottom: 24px;

			.image {
				width: 65px;
				height: 65px;

				img {
					max-height: 75px;
				}
			}

			.info {
				margin-left: 8px;

				h1 {
					font-size: 16px;
				}

				p {
					font-size: 10px;
				}
			}
		}
	}

	.background {
		grid-column: 1 / span 1;
		grid-row: 3 / span 1;

		padding: 16px;
	}
}
